@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  text-decoration: none;
  text-transform: capitalize;
}
// color and properties
$darkBlue: #11274b;
$lightBlue: #0984e3;
$twitterBlue: #00acee;
$darkShade: #2980b9;
$lightShade: #74b9ff;
$fontBlue: #130f40;
$white: #fff;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
$gray: #2d3436;
$light-gray: #ecf0f1;
$warm-white: #f7f1e3;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
// body{
//   overflow-x: hidden;
// }.aos-init:not(.aos-animate):after {position: fixed;}
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #bdc3c7;
}

::-webkit-scrollbar-thumb {
  background: $darkBlue;
  border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightBlue;
}
// --- mixins ---

@mixin grid($val, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: $gap;
}
@mixin d-flex($j-c, $a-i, $wrap) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
  flex-wrap: $wrap;
}
@mixin row($a-i, $wrap) {
  display: flex;
  align-items: $a-i;
  flex-wrap: $wrap;
}
@mixin flex-shorthand($val) {
  flex: 1 1 42rem;
}
@mixin absol-center($top, $left, $tX, $tY) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($tX, $tY);
}

// --- utilty--

section {
  padding: 5rem 9%;
}

.heading h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: $lightBlue;
  letter-spacing: 1px;
  font-weight: 400;
  span {
    margin-top: 5px;
    font-size: 15px;
    color: $fontBlue;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    &::after,
    &:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
      background-color: #f8f8f8;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 220px;
  height: 60px;

  background-color: $warm-white;
  cursor: pointer;
  font-size: 24px;
  color: $fontBlue;
  transition: all 0.3s;
  position: relative;

  text-align: center;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0 6px 30px -10px rgba(#cccccc, 1);

  &:hover {
    transform: translateX(5px) translateY(-7px);
  }
}

.shop-now {
  position: relative;
  .santa-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -17px;
    right: -20px;
    transform: rotate(14deg);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.snowflake-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 5px;

  width: 100px;
  transform: scale(0.4);
  div {
    border-radius: 5px;
  }

  .snowflake-item {
    position: relative;
  }
}

.to-left {
  position: absolute;
  top: -4px;
  left: -35px;
  animation: swing 3s infinite;
  div {
    animation: flash 3s infinite;
  }
}

.to-right {
  position: absolute;
  top: -25px;
  right: -35px;
  animation: swing 2.5s infinite;
  div {
    animation: flash 2.5s infinite;
  }
}

.border-left {
  border-left: 4px solid #e6dada;
}

.border-right {
  border-right: 4px solid #e6dada;
}

.border-bottom {
  border-bottom: 4px solid #e6dada;
}

.border-top {
  border-top: 4px solid #e6dada;
}

.sub-items {
  height: 28px;
  width: 28px;
}

.m-w-15 {
  width: 15px;
}

.m-h-15 {
  height: 15px;
}

.r-270 {
  transform: rotate(270deg);
}

.r-180 {
  transform: rotate(180deg);
}

.r-90 {
  transform: rotate(90deg);
}

.pull-down {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.pull-down-right {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.pull-right {
  position: absolute;
  right: 5px;
  top: 5px;
}

.pull-left {
  position: absolute;
  left: 5px;
  top: 5px;
}

.m-3 {
  margin: 3px;
}

@keyframes swing {
  50% {
    transform: rotateZ(10deg) scale(0.4);
  }
}

@keyframes flash {
  50% {
    border-color: $fontBlue;
  }
}

// --- navbar--

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  @include d-flex(space-between, center, nowrap);
  #hamburger {
    color: $white;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .logo {
    font-size: 3rem;
    color: $white;
    font-weight: bold;
    transform: scale(1);
    letter-spacing: 0.1rem;
    &:hover {
      transform: scale(0.9);
    }
  }
  .navlist {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: $lightBlue;
    @include d-flex(center, center, nowrap);
    flex-direction: column;
    clip-path: circle(0% at 0 0);
    .fa-times {
      position: absolute;
      top: 2.4rem;
      right: 0;
      color: $white;
      font-size: 2.5rem;
      cursor: pointer;
      margin-right: 9%;
    }
    a {
      font-size: 4rem;
      color: $white;
      margin: 1.5rem 0rem;
      display: block;
      text-align: left;
      position: relative;
      padding: 0 0.2rem 0 0.2rem;
      padding-bottom: 0.5rem;
      &:hover {
        color: $darkBlue;
      }
      &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 0.2rem;
        background-color: $white;
        animation: underline 0.4s linear forwards;
        @keyframes underline {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    &.active {
      clip-path: circle(141.4% at 0 0);
    }
  }
  &.white {
    background-color: rgb(250, 250, 250);
    box-shadow: $box-shadow;
    transition: all 0.5s linear;
    #hamburger,
    .logo {
      color: $fontBlue;
    }
  }
  &.normal {
    background-color: $darkBlue;
    box-shadow: $box-shadow;
    transition: all 0.5s linear;
  }
}

// ---home section

.home {
  padding-top: 8rem;
  height: 100vh;
  width: 100%;
  padding: 5rem 5%;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/1064531.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .text-wrapper {
    z-index: 11;
    opacity: 1.1;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    color: $twitterBlue;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    .static-txt {
      @include d-flex(center, center, wrap);
      color: $light-gray;
    }
    .intro-name {
      margin-left: 1rem;
      position: relative;
      color: $warm-white;
      &::after {
        content: "";
        position: absolute;
        bottom: 0rem;
        left: 0;
        width: 100%;
        height: 0.6rem;
        border-radius: 0.4rem;
        background-color: $warm-white;
        z-index: 11;
      }
    }
  }
  .container {
    z-index: 11;
    width: 100%;
  }
  .container p {
    opacity: 1;
    font-size: 10rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    color: $twitterBlue;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: $warm-white;
    padding-bottom: 0.3rem;
    border-bottom: 0.5rem solid $warm-white;
    border-radius: 0.4rem;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: $white;
    }
    49% {
      background-color: $white;
    }
    50% {
      background-color: $white;
    }
    99% {
      background-color: $white;
    }
    100% {
      background-color: $white;
    }
  }
}

// ---- about section --------------------
.about {
  padding: 5rem 6%;
  .row {
    @include row(center, wrap);
    gap: 5rem;
    .image {
      @include flex-shorthand(35rem);
      height: 60rem;
      overflow: hidden;
      img {
        position: relative;
        width: 98%;
        border-radius: 1rem;
        height: 58rem;
        box-shadow: $box-shadow;
        object-fit: cover;
      }
    }
    .content {
      padding: 2rem 0;
      @include flex-shorthand(45rem);
      h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
        padding-top: 4rem;
        color: $lightBlue;
      }
      h2 {
        color: $fontBlue;
        font-size: 3rem;
        padding-bottom: 1rem;
      }
      p {
        line-height: 3rem;
        color: $darkBlue;
        font-size: 2rem;
        padding-bottom: 4rem;
      }
      .info-icon-wrapper {
        @include grid(18rem, 2rem);
        .box {
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
          text-align: center;
          border-radius: 0.6rem;
          background-color: $light-gray;
          padding: 2rem 0;
          padding-bottom: 1rem;
          border: 2px solid transparent;
          cursor: pointer;
          img {
            padding-bottom: 1.5rem;
          }
          h3 {
            color: $fontBlue;
            font-size: 2rem;
            padding-bottom: 1rem;
          }
          p {
            color: $lightBlue;
            font-size: 1.8rem;
            padding-bottom: 0;
          }
          &:hover {
            border: 2px solid $darkBlue;
          }
        }
      }
    }
  }
}
// -- skills section
.skills {
  background: url(../images/skill_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .heading {
    color: $warm-white;
  }
  .height-adjusted-wrapper {
    height: 57.9rem;
    .skills-container {
      display: grid;
      gap: 1.5rem;
      row-gap: 0;
      padding: 2rem;
      padding-bottom: 0;
      background-color: $white;
      border-radius: 0.6rem;
      width: fit-content;
      margin: auto;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
      div {
        .skill_content {
          .skill_header {
            @include row(center, nowrap);
            justify-content: space-between;
            margin-bottom: 2.5rem;
            cursor: pointer;
            .skill_arrow {
              font-size: 2.5rem;
              color: $lightBlue;
              transition: 0.4s;
            }
            div {
              @include row(center, nowrap);
              .skill_icon {
                font-size: 2.5rem;
                color: $lightBlue;
                margin-right: 1.75rem;
              }
              div {
                @include row(flex-start, nowrap);
                flex-direction: column;
                .skill_title {
                  font-size: 3rem;
                  color: $fontBlue;
                }
              }

              .skill_subtitle {
                color: $gray;
                font-size: 1.5rem;
              }
            }
          }
          .skills_list {
            row-gap: 1.5rem;
            // padding-left: 2.7rem;
            .skills_data {
              margin-bottom: 1rem;
              .skills_title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                .skill_name,
                .skill_number {
                  font-size: 1.8rem;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                }
              }
              .skill_bar {
                height: 0.8rem;
                border-radius: 0.25rem;
                background-color: $light-gray;
                .skill_percentage {
                  display: block;
                  height: 0.8rem;
                  border-radius: 0.25rem;
                  background-color: $lightBlue;
                }
                .skill_html {
                  width: 90%;
                }
                .skill_css {
                  width: 90%;
                }
                .skill_js {
                  width: 80%;
                }
                .skill_scss {
                  width: 90%;
                }
                //
                .skill_django {
                  width: 80%;
                }
                .skill_flask {
                  width: 75%;
                }
                .skill_node {
                  width: 85%;
                }
                .skill_express {
                  width: 90%;
                }
                //

                .skill_python {
                  width: 75%;
                }
                .skill_java {
                  width: 80%;
                }
                .skill_c {
                  width: 90%;
                }
                .skill_cpp {
                  width: 85%;
                }
                //
                .skill_photoshop {
                  width: 75%;
                }
                .skill_bootstrap {
                  width: 90%;
                }
                .skill_mongo {
                  width: 90%;
                }
                .skill_sql {
                  width: 85%;
                }
              }
            }
          }
        }
      }
      .skill_close .skills_list {
        height: 0;
        overflow: hidden;
      }
      .skill_open {
        .skills_list {
          transform-origin: bottom top;
          height: max-content;
          margin-bottom: 2.5rem;
          padding-left: 2.7rem;
          transition: all 0.5 linear;
        }
        .skill_arrow {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
// projects section
.projects {
  .slider-heading {
    color: $twitterBlue;
    font-size: 3.5rem;
    text-align: left;
    padding-bottom: 3rem;
  }
  .projects-slider {
    margin-bottom: 5rem;
    .swiper-wrapper {
      padding-bottom: 5rem;
      .box {
        .image {
          position: relative;
          overflow: hidden;
          height: 32rem;
          border-radius: .6rem;
          img {
            width: 100%;
            border-radius: 0.8rem;
          }
          .grey-content-box {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -100%;
            overflow: hidden;
            background-color: #ebe0e0a1;
            padding: 3rem;

            p {
              color: $gray;
              text-align: center;
              font-size: 4rem;
              font-weight: lighter;
              padding-bottom: 1rem;
            }
            .icons-wrapper {
              @include d-flex(center, center, nowrap);
              width: 100%;
              gap: 1.5rem;
              a,button {
                color: $white;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: grid;
                place-items: center;
                font-size: 2rem;
                cursor: pointer;
                border:none;
                background-color: $darkBlue;
                &:hover {
                  background-color: $lightBlue;
                }
              }
            }
          }
        }
        .content {
          padding-top: 2rem;
          text-align: center;
          transform: scale(0);
          opacity: 0;
          .website-name {
            color: $fontBlue;
            font-size: 4rem;
            padding-bottom: 1.5rem;
            display: none;
            span {
              padding-left: 1rem;
              color: $twitterBlue;
            }
          }
          p {
            line-height: 2.8rem;
            font-family: "JetBrains Mono", monospace;
            font-size: 1.8rem;
            padding: 2rem;
          }
          .icons-wrapper {
            @include d-flex(center, center, nowrap);
            width: 100%;
            gap: 1.5rem;
            padding-bottom: 2rem;
            display: none;
            a {
              color: $white;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              display: grid;
              place-items: center;
              font-size: 2.5rem;
              cursor: pointer;
              background-color: $darkBlue;
              &:hover {
                background-color: $lightBlue;
              }
            }
          }
          .btn {
            margin-bottom: 3rem;
          }
        }
        &:hover .image .grey-content-box {
          bottom: 0;
          opacity: 1;
        }
        &.swiper-slide-active .content {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 2.6rem;
      height: 0.7rem;
      display: inline-block;
      border-radius: 0;
    }
  }
}
// --- services section
.services {
  background: linear-gradient(45deg, rgb(76, 0, 255), transparent),
    repeating-linear-gradient(
      45deg,
      rgb(183, 0, 255) 0%,
      rgb(183, 0, 255) 5%,
      transparent 5%,
      transparent 10%,
      rgb(183, 0, 255) 10%,
      rgb(183, 0, 255) 11%,
      transparent 11%,
      transparent 13%
    ),
    rgb(216, 118, 255)
      repeating-linear-gradient(
        -45deg,
        rgba(183, 0, 255, 0.5) 0%,
        rgba(183, 0, 255, 0.5) 5%,
        transparent 5%,
        transparent 10%
      );
   
  .heading h1{
    color:$darkBlue;
    span {
      color: $warm-white;
    }
  } 
    
  .services-wrapper {
    @include grid(30rem, 1fr);
    gap: 2rem;
    .services-box {
      text-align: center;
      // padding: 3rem;
      border-radius: 0rem 0rem .6rem 0.6rem;
      box-shadow: 0.7rem 0.7rem 4.3rem -1.7rem rgba(82, 79, 82, 0.81);
      background-color: $white;
      // border: 0.2rem solid transparent;
      cursor: pointer;
      &:hover {
        box-shadow: none;
        // border-color: $darkBlue;
      }
      .color-strap{
        width: 100%;
        height: 0.7rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
        margin-bottom: 3rem;
        &.blue{
          background-color:#007bff;
        }
        &.red{
          background-color:#dc3545;
        }
        &.grey{
          background-color:#ffc107;
        }
          }
      img {
        padding-bottom: 1rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
      h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $darkBlue;
        padding-left: 3rem;
        padding-right: 3rem;
      }
      .content {
        padding-top: 4.5rem;
        text-align: left;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        .service {
          margin-bottom: 2.5rem;
          span {
            color: $fontBlue;
            font-size: 2rem;
          }
          .fas {
            color: $lightBlue;
            font-size: 2.5rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

// --- contact section

.contact {
  .row {
    @include row(center, wrap);
    gap: 4rem;
    .map {
      flex: 1 1 42rem;
      width: 100%;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      border: 2px solid $darkBlue;
    }
    .form {
      flex: 1 1 42rem;
      padding: 3rem;
      h2 {
        text-align: center;
        font-size: 4rem;
        padding-bottom: 3rem;
        color: $lightBlue;
      }
      .inputs {
        width: 100%;
        border-bottom: 0.2rem solid $darkBlue;
        color: $fontBlue;
        padding: 0.7rem 1.5rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        &:nth-child(5) {
          margin-bottom: 3.5rem;
        }
        &:focus {
          border-color: $lightBlue;
          color: $lightBlue;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &::placeholder {
          color: $fontBlue;
        }
      }
    }
  }
}

/// ---- footer

.footer {

// background-color: rgba(145, 127, 127, 0.08);
background: url(../images/footer.jpg) no-repeat;
background-position: center;
background-size:cover;

.grid-wrapper {
    z-index: 2;
    @include grid(45rem, 12rem);
    .box {
      text-align: justify;
      h2 {
        font-size: 3rem;
        color: $warm-white;
        margin-bottom: 2rem;
        transform: scale(1);
    letter-spacing: 0.1rem;
    &:hover {
      transform: scale(0.9);
    }
      }
      a {
        text-align: left;
        display: block;
        font-size: 2rem;
        padding: 1.3rem 0;
        color: $white;
        i {
          padding-right: 1rem;
        }
        &:hover {
          color: $warm-white;
          i {
            padding-right: 1.8rem;
          }
        }
      }
    }
  }
  .credit-title{
    font-size: 3rem;
    text-align: center;
    padding-top: 3.5rem;
    color: $warm-white;
  }
}
// --- media queries

@media (max-width: 991px) {
  body{
    overflow-x: hidden;
  }
  html {
    font-size: 55%;
  }
  .navbar {
    padding: 2rem;
    justify-content: unset;
    .logo {
      margin: auto;
    }
  }
  .home {
    .container p {
      font-size: 7rem;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .text-wrapper {
      font-size: 6rem;
    }
    .container p {
      font-size: 5rem;
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home {
    .text-wrapper {
      font-size: 4rem;
    }
    .container p {
      font-size: 5rem;
      span.typed-text {
        border-bottom: none;
      }
    }
    &::before {
      background-position: center;
    }
  }
  .skills {
    background-position: -3rem;
    /* background-repeat: repeat; */
    .height-adjusted-wrapper {
      margin-bottom: 10rem;
    }
  }
  .projects {
    .projects-slider {
      .swiper-wrapper {
        .box {
          .image .grey-content-box {
            display: none;
          }
          .content {
            .website-name {
              display: block;
            }
            .icons-wrapper {
              display: flex;
            }
          }
        }
      }
    }
  }
}
